
.bade{
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome{
background-color: blue;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 30px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

